block variables
 - var selected = "Home"

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css",
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T",
      crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/style.css")
    title Puzzle Solver: #{title}
  body
    .navbar.navbar-dark.bg-dark.shadow-sm.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3
        a.navbar-brand.my-0.mr-md-auto(href="/", title="Home")
          include logo.pug
          strong Puzzle Solver
        if !user
          nav.my-2.my-md-0.mr-md-3
            a.p-2.text-light(href="/register") Register
        else
          nav.my-2.my-md-0.mr-md-3
            a.p-2.text-light(href="/puzzle") Puzzles
            //- ToDo: Introduce other nav-items here
        if !user
          a.btn.btn-outline-light(href="/login") Log In
        else
          form(method="POST",action="/logout")
            button.btn.btn-outline-light(type="submit",  action="/logout") Logout

    if headerName
      header.px-3.py-3.pt-md-5.pb-md-4.mx-auto(class=headerName)
        block header
    .container
      block content

    footer.
      Built with #[a(href="https://expressjs.com/") Express.js], login powered by #[a(href="https://developer.okta.com/") Okta].
    //- ToDo: Uncomment if needed
    //- script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", 
    //-   integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", 
    //-   crossorigin="anonymous")
    //- script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js",
    //-   integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM",
    //-   crossorigin="anonymous")